
<div class="row-fluid">
  <div class="span4"></div>
  <div class="span4">
    <%= image_tag('logo-original.png', alt: 'Pamela Jacobus Fotografia', title: 'Pamela Jacobus Fotografia', id: 'logo') %>
  </div>
  <div class="span4"></div>
</div>

<div class="row-fluid">
  <div class="span12">
    <div id="banners">
      <% home_pictures.each_with_index do |picture, index| %>
        <div class="banner" style="<%= 'display: none' if index > 0 %>">
          <%= link_to picture.picturable do %>
            <%= picture(picture, :original, alt: picture.picturable.title) %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<div class="row-fluid">
  <div class="span8"></div>
  <div class="span4">
    <%= facebook_like_buttom %>
  </div>
</div>