<%= content_for(:title) { @category.name } %>

<div class="row-fluid">
  <div class="span12"><h1><%= @category.name %></h1></div>
</div>

<% if @category.description? %>
  <div class="row-fluid">
    <div class="span12"><%= simple_format @category.description  %></div>
  </div>
<% end %>

<%= render @albums %>

<%= paginate(@albums) %>